<!DOCTYPE html>
<html>
  <head>
    <title>Dobro došli</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Dobro došli</h1>
    <a href="/login">Log in</a>
    <a href="/signup">Sign up</a>
  </body>
</html>
